.page-layout {
  display: flex; /* side-by-side layout */
  /* align top */
  gap: 30px; /* space between buttons and table */
}

/* Button panel styling */
.button-panel {
  display: flex;
  flex-direction: column; /* stack buttons vertically */
  gap: 10px;
}

.button-panel button {
  width: 120px;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

.add-btn {
  background-color: #4caf50;
}

.edit-btn {
  background-color: #2196f3;
}

.delete-btn {
  background-color: #f44336;
}

.view-btn {
  background-color: #9c27b0;
}

.button-panel button:hover {
  opacity: 0.85;
}

/* Table styling */
.table-container {
  flex: 1; /* take remaining width */
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ccc;
  padding: 10px 12px;
  text-align: left;
}

.custom-table th {
  background-color: #f8f8f8;
}

.custom-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.custom-table tr:hover {
  background-color: #e9f5ff;
  cursor: pointer;
}
.Add-emp {
  margin-bottom: 30px;
}
.inputSearch {
  padding: 10px;
  width: 250px;
  border-radius: 80px;
  border: 1px solid #ccc;
}
