* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f1ebff;
  justify-content: center;
  display: flex;
  align-items: center;
}
.wrapper {
  background-color: seagreen;
  width: 400px;
  height: 300px;
  border-radius: 15px;
}
.wrapper h1 {
  text-align: center;
  font-size: 40px;
}
.wrapper .input-field {
  height: 50px;
  width: 100%;
  position: relative;
  margin: 30px 0;
}
.input-field input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
}
.input-field input::placeholder {
  color: #fff;
}
.wrapper button {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  background-color: #f1ebff;
}
.wrapper button:hover {
  background-color: aquamarine;
}
